.profile-section,
.education-resume-section,
.skills-section,
.profile-section,
.projects-section{
    min-height: 100vh;
    padding-top: 50px;
    width: 100%;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

#matrix {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
}

body{
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

#navbar {
    height: 100px;
    color: green;
    background-color: black;
}

nav{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1001;
    display: flex;
    justify-content: space-around;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav li{
    display: inline;
    margin-right: 20px
}

nav li a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: auto;
    transition: transform .2s; /* gives the effect*/
}

nav li a:hover {
    color: black;
    transform: scale(1.1); /*this will make the text slightly larger*/
}

/* sets the perspective and scroll properties for the whole page */
.wrapper {
    height: 100vh;
    overflow-x: hidden;  /* disables horizontal scrollbar when you scale an image */
    overflow-y: auto;
    perspective: 2px;   /* simulates the distance from the viewport to the pseudo-elements */
}

.profile-section {
    margin-bottom: 50px;
    text-align: start;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .parallax-content {
    position: relative;
    z-index: 1;
}

.fa-2x {
    font-size: 1em;
    line-height: .75em;
    vertical-align: -15%;
}

.icon-list {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;
    padding: 40px 40px;
}

.icon-list li {
    margin-bottom: 5px;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;   /*sets distance in (li) flex container */
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}

.skills-list li {
    padding: 1px 1px;  /* 5px part adds padding top an bottom and 10 px left and right */
    background-color: dodgerblue;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100px;
    height: 25px;
    margin-bottom: 0;
}

@media (max-width: 600px){
    nav li a{
        padding: 10px;
        font-size: 0.8em;
        align-items: center;
        text-align: center;
    }

    .education-resume-section .col-lg-6:first-child{
        margin-bottom: 80px;
    }

    .education-resume-section .col-lg-6:last-child{
        order: 2; /* Will show second */
    }

    .container{
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        text-align: center;
    }

    .skills-list {
        align-items: center;
    }

    .profile-section,
    .education-resume-section,
    .skills-section,
    .profile-section {
        min-height: 100vh;
        overflow-x: hidden;
    }

    .flex-container{
        display: flex;
        flex-direction: column;
    }

    #nameHeader {
        width: 70% !important;
    }
}

.education-resume-section{
    text-align: center;
}

.projects-section{
    text-align: center;
}

.projects-section .row{
    flex-wrap: wrap;
}

a.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border-radius: 4px;
    transition: background-color 0.5s ease;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
}

a.button:hover{
    background-color: lightskyblue;
}

.projects-section h2 {
    text-align: center;
    padding-top: 60px;
}

#about {
    color: green;
    padding: 60px 80px;
    align-content: center;
    align-items: center;
}

.py-5 {
    padding-bottom: 5rem!important;
    padding-top: 3rem!important;
}