/* sets the perspective and scroll properties for the whole page */
.wrapper {
    height: 100vh;
    overflow-x: hidden;  /* disables horizontal scrollbar when you scale an image */
    overflow-y: auto;
    perspective: 2px;   /* simulates the distance from the viewport to the pseudo-elements */
}

.profile-section {
    min-height: 100vh;
}

.parallax {
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image:; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateY(-50%);
    will-change: transform;
    z-index:-1;
}

/*.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}*/

.parallax .parallax-content {
    position: relative;
    z-index: 1;
}

.static {
    background: #777777;
}

.fa-2x {
    font-size: 1em;
    line-height: .75em;
    vertical-align: -15%;
}

.icon-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    //padding: 0;
    //width: 100px;
}

.icon-list li {
    margin-bottom: 0;
}

.skills-list {
    list-style: circle;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;   /*sets distance in (li) flex container */
    margin: 0;
    padding: 0;
}

.skills-list li {
    padding: 1px 1px;  /* 5px part adds padding top an bottom and 10 px left and right */
    background-color: #a78686;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100px;
    height: 25px;

}
