body{
    background-color: #000080;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

nav{
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav li{
    display: inline;
    margin-right: 20px
}

nav li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: auto;
}

nav li a:hover {
    background-color: #ddd;
    color: black;
}

/* sets the perspective and scroll properties for the whole page */
.wrapper {
    height: 100vh;
    overflow-x: hidden;  /* disables horizontal scrollbar when you scale an image */
    overflow-y: auto;
    perspective: 2px;   /* simulates the distance from the viewport to the pseudo-elements */
}

.profile-section {
    min-height: 100vh;
    text-align: center;
}

.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image:; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateY(-50%);
    will-change: transform;
    z-index:-1;
}

.parallax .parallax-content {
    position: relative;
    z-index: 1;
}

.profile-section .parallax::before{
    background-image: url('https://www.si.com/.image/t_share/MTY4MTg2MDIyNzgyODM4MDMz/1988-michael-jordan-001238167_0jpg.jpg');
}

.about-section .parallax::before{
    background-image: url('https://www.si.com/.image/t_share/MTY4MTg2MDIyNzgyODM4MDMz/1988-michael-jordan-001238167_0jpg.jpg');
}

.education-resume-section .parallax::before{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlY3qEag3SD5uTzMpnnopRoH7F-4OOAtZ84A&usqp=CAU');
}

.skills-section .parallax::before{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrTG_5ojDilYUoS9lMMjqGe2TjVneUiCsSvA&usqp=CAU');
}

.projects-section .parallax::before{
    background-image: url('https://www.si.com/.image/t_share/MTY4MTg2MDIyNzgyODM4MDMz/1988-michael-jordan-001238167_0jpg.jpg');
}

.static {
    background: #777777;
}

.fa-2x {
    font-size: 1em;
    line-height: .75em;
    vertical-align: -15%;
}

.icon-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    //padding: 0;
    //width: 100px;
}

.icon-list li {
    margin-bottom: 5px;
}

.skills-list {
    list-style: circle;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;   /*sets distance in (li) flex container */
    margin: 0;
    padding: 0;
    justify-content: center;
}

.skills-section{
    text-align: center;
}

.skills-list li {
    padding: 1px 1px;  /* 5px part adds padding top an bottom and 10 px left and right */
    background-color: #a78686;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100px;
    height: 25px;
    margin-bottom: 0;

}

@media (max-width: 767px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 600px){
    nav li a{
        padding: 10px;
        font-size: 0.8em;
    }
}


.education-resume-section{
    text-align: center;
}

.projects-section{
    text-align: center;
}

.projects-section .row{
    flex-wrap: wrap;
}

